.container{
    padding-top: 80pt;
    padding-bottom: 60pt;
    color: white;
    background-image: linear-gradient(rgba(0, 0, 0, 0.431), rgba(0, 0, 0, 0.431)),url(Pictures/AboutBG.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-top: 8px solid rgb(156, 156, 156);
    border-bottom: 8px solid rgb(156, 156, 156);
    font-family: 'Poppins';
  }

.contop{
    text-align: center;
}

.underline{
    text-decoration: underline;
}

#mydetail{
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    font-size: 14pt;
}

.profpic{
    border-radius: 100%;
    animation: glow 1.5s infinite alternate;
  }
  
  @keyframes glow {
    0% {
      box-shadow: 0 0 10px #ffffff;
    }
    100% {
        box-shadow: 0 0 40px #000000;
      }
    0% {
      box-shadow: 0 0 10px #ffffff;
    }
  }

#myname{
    font-weight: bold;
    font-size: 20pt;
}

#myprofession{
    font-size: 17pt;
}

.music{
    background-image: linear-gradient(rgba(0, 0, 0, 0.431), rgba(0, 0, 0, 0.431)),url(Pictures/MusicBg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: rgb(255, 255, 255);
    padding-bottom: 60pt;
    padding-top: 50pt;
}

.musicdes{
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    font-family: 'Tahoma';
    margin-bottom: 30pt;
}

.musicdes h2{
    text-align: center;
    font-size: 25pt;
}

.musicdetail{
    font-size: 20pt;
}

.musiclist{
    padding-left: 130px;
    font-size: 17pt;
    list-style-type:circle;
}

.Hobbies{
    font-family: 'Poppins';
}

.Tabs{
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    text-align: center;
}

.tabsdata{
    padding-left: 10pt;
    padding-right: 10pt;
    padding-bottom: 20pt;
}

.songtitle{
    font-size: 18pt;
}

.Labelshobby{
    font-weight: bold;
    font-size: 25pt;
    text-decoration: underline;
}

.Cov{
    border: 10pt solid rgb(72, 72, 72);
    background-color: black;
    width:350pt; 
    height:200pt;
}

#FavCov{
    border: 5pt solid rgb(72, 72, 72);
    background-color: black;
    width:650pt; 
    height:350pt;
}
