.activities{
    border-top: 5pt solid rgb(255, 255, 255);

}

.essay h2, h4, .sql h2{
    text-align: center;
    font-weight: 20pt;
}

.essay h2, .sql h2{
    text-decoration:underline;
}

.bgessay{
    background-image: url(Pictures/GridPaper.jpg);
    background-size: cover;
    background-attachment: scroll;
    overflow-x: hidden;
}

.essay{
    font-family:'Lucida Handwriting';
    margin: 30pt ;
    padding-top: 30pt;
    padding-bottom: 30pt;
    border-radius: 30pt;
}

.essay p{
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.bgsql{
    background-color: rgb(22, 22, 22);
    border-top: 5pt solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    font-family: "Poppins";
}

.sql{
    margin-top: 60pt;
    padding-bottom: 60pt;
}

.sqlcode{
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.description{
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.highlight{
    color: rgb(255, 255, 0);
}

.DATABASE{
    background-color:  rgb(54, 54, 54);
    color: white;
    padding: 5px 22px;
    border-top-left-radius: 5pt;
    border-top-right-radius: 5pt;
}

#sqlbtn{
    text-decoration: none;   
    color: rgb(255, 255, 255);
    margin-left: 27pt;
    cursor: pointer
}

#sqlbtn2{
    text-decoration: none;   
    color: rgb(255, 255, 255);
    margin-left: 63pt;
    cursor: pointer
}

#sqlbtn:active, #sqlbtn2:active{
    color: rgb(0, 0, 0);
}

#sql1textarea, #sql2textarea{
    resize: none;
    border: none;
    outline: none;
    overflow: hidden;
    margin-top: 0pt;
    padding-left: 10pt;
    border-bottom-left-radius: 5pt;
    border-bottom-right-radius: 5pt;
    background-color: rgb(0,0,0);
    color: rgb(255, 255, 255);
}