.activities{
    border-top: 5pt solid rgb(255, 255, 255);
}

.essay h2, h4, .sql h2{
    text-align: center;
    font-weight: 20pt;
}

.essay h2, .sql h2{
    text-decoration:underline;
}

.bgessay{
    background-image: url(Pictures/GridPaper.jpg);
    background-size: cover;
    background-attachment: scroll;
    overflow-x: hidden;
}

.essay{
    font-family:'Lucida Handwriting';
    margin: 30pt ;
    padding-top: 30pt;
    padding-bottom: 30pt;
    border-radius: 30pt;
}

.essay p{
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    font-weight: bold;
    padding-left: 70pt;
    padding-right: 70pt;
}

.bgsql{
    background-color: rgb(22, 22, 22);
    border-top: 5pt solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    font-family: "Poppins";
}

.sql{
    margin-top: 60pt;
    padding-bottom: 60pt;
}

.sqlcode{
    border-radius: 5pt;
    background-color:  rgb(54, 54, 54);
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.black{
    background-color: black;
}

.description{
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.highlight{
    color: rgb(255, 255, 0);
}

.DATABASE{
    color: white;
    font-size: 10pt;
    padding: 5px 22px;
}

#sqlbtn, #sqlbtn2, #sqlbtn3, #sqlbtn4, #sqlbtn5, #sqlbtn6, #sqlbtn7, #sqlbtn8, #sqlbtn9, #sqlbtn10, #sqlbtn11, #sqlbtn12{
    color: rgb(255, 255, 255);
    cursor: pointer
}

#sqlbtn{
    margin-left: 67pt;
}

#sqlbtn2{   
    margin-left: 83pt;
}

#sqlbtn3{ 
    margin-left: 225pt;
}

#sqlbtn4{ 
    margin-left: 73pt;
}

#sqlbtn5{   
    margin-left: 234pt;
}

#sqlbtn6{ 
    margin-left: 271pt;
}

#sqlbtn7{
    margin-left: 271pt;
}

#sqlbtn8{
    margin-left: 271pt;
}

#sqlbtn9{
    margin-left: 147pt;
}

#sqlbtn10{
    margin-left: 152pt;
}

#sqlbtn11{
    margin-left: 48pt;
}

#sqlbtn12{
    margin-left: 48pt;
}


#sqlbtn:active, #sqlbtn2:active, #sqlbtn3:active, #sqlbtn4:active, #sqlbtn5:active, #sqlbtn6:active, #sqlbtn7:active, #sqlbtn8:active, #sqlbtn9:active #sqlbtn10:active, #sqlbtn11:active, #sqlbtn12:active{
    color: rgb(0, 0, 0);
}

#sql1textarea, #sql2textarea, #sql3textarea, #sql4textarea, #sql5textarea, #sql6textarea, #sql7textarea, #sql8textarea, #sql9textarea, #sql10textarea, #sql11textarea, #sql12textarea{
    resize: none;
    border: none;
    outline: none;
    overflow: hidden;
    margin-top: 0pt;
    padding-left: 10pt;
    background-color: rgb(0,0,0);
    color: rgb(255, 255, 255);
}
