.activities{
    border-top: 5pt solid rgb(255, 255, 255);

}

.essay h2, h4{
    text-align: center;
    font-weight: 20pt;
}

.essay h2{
    text-decoration:underline;
}

.bgessay{
    background-image: url(Pictures/GridPaper.jpg);
    background-size: cover;
    background-attachment: scroll;
    overflow-x: hidden;
}

.essay{
    font-family:'Lucida Handwriting';
    /*
    background-color: rgba(224, 221, 221, 0.938);*/
    margin: 40pt 200pt;
    padding-top: 30pt;
    padding-bottom: 30pt;
    border-radius: 30pt;
}

.essay p{
    margin: 0 100pt;
}

.sql{
    border-top: 5pt solid rgb(255, 255, 255);
    
}