body{
    margin: 0;
    font-family: Tahoma; 
    background-image: url('Pictures/Background.jpg');
    background-size: cover;
    background-attachment: scroll;
}

@media only screen and(max-width:800px){
	.defaultplace{
		width:100%;
		padding:10px;
	}
}

.defaultplace{
    background-color: rgba(33, 255, 4, 0.6);
    border-radius: 20pt;
    margin-bottom: 100pt;
    margin-top: 80pt;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.container{
    padding-right: 140pt;
    padding-left: 140pt;
    padding-bottom: 30pt;
}

h1{
    text-align: center;
}

a{
    text-decoration: none; 
    color: black; 
    font-weight: bold; 
    margin-left: 15pt;
    transition: 0.3s ease-in-out;
}

a:hover{
    transform: scale(1.1);
    color: red;
}

.underline{
    text-decoration: underline;
    font-size: 15pt;
}

.label{
    font-weight: bold;
}

#close{
    font-weight: bold;
}